/* General Styles */
.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.app-header {
  background-color: #1050cf;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.app-header-title {
  display: flex;
  align-items: center;
}

.app-header-title-text {
  font-size: calc(10px + 3vmin);
  margin: 0;
}

.app-header-logo {
  font-size: calc(8px + 2vmin);
  padding: 10px 20px;
  background-color: #083d9c;
  border-radius: 5px;
  color: white;
  background-image: url('./statics/fon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 50px;
  background-position: center;
  background-color: #fff;
}

/* Services Section */
.app-services {
  padding: 20px;
  background-color: #f5f5f5;
}

.app-services-images {
  display: flex;
  flex-direction: row; /* Organiza los elementos en una fila */
  align-items: center;
  justify-content: space-between; /* Opcional: ajusta el espacio entre los elementos */
  margin-top: 20px;  
  background-color: #fff;
  border-radius: 8px;
}

.app-services-description {
  font-size: 16px;
  color: #333;
  margin-right: 20px; /* Añade espacio entre la descripción y la imagen */
  text-align: justify; /* Asegura que el texto esté alineado a la izquierda */
  max-width: 70%;
  padding-left: 12px;
}

.app-services-image {
  width: 300px;
  height: 300px;
  min-height: 300px; /* Asegura que la imagen tenga al menos 300px de altura */
  background-color: #ddd;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-image: url('./statics/services.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  background-size: contain;
  background-position: center;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .app-services-images {
    flex-direction: column; /* Cambia la disposición de los elementos a columna */
    align-items: center; /* Centra los elementos */
  }

  .app-services-description {
    max-width: 90%; /* Ajusta el ancho del texto en pantallas pequeñas */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    margin-top: 10px; /* Añade espacio entre la imagen y el texto */
  }

  .app-services-image {    
    width: 80%; /* Hace que la imagen ocupe un porcentaje del ancho disponible */
    height: auto; /* Ajusta la altura proporcionalmente */
    min-height: 300px; /* Asegura que la imagen tenga al menos 300px de altura */
  }
}


/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Teaser Article */
.teaser {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.teaser-image img {
  width: 80%;
  height: auto;
}

.teaser-content {
  padding: 15px;
}

.teaser-title {
  font-size: 1.5rem;
  color: #1050cf;
  margin-bottom: 10px;
}

.teaser-description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.teaser-link {
  font-size: 1rem;
  color: #1050cf;
  text-decoration: none;
  font-weight: bold;
  visibility: hidden;
}

.teaser-link:hover {
  text-decoration: underline;
}

.app-footer {
  background-color: #1050cf;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-size: 12px;
}

/* Animations */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

